{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usr.first_name }}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    
</head>
<body style="margin: 0;">
    <nav class="navbar-expand-lg nav " style="background-color:rgba(59, 57, 59, 0.404);">
        
      
            <ul class=" pull-right" style="list-style: none;display: inline-block;list-style-type:decimal;position: relative;left: -50px;">
                <li  style="display: inline-block;list-style-type: decimal;"><a href="/" class="btn" style="color: black;font-size: medium;color: aliceblue;">Home</a></li>
                <li style="display: inline-block;list-style-type: decimal;"><a href="/profile" class="btn" style="color: aliceblue;">Profile</a></li>

            </ul>
    
    </nav>
    <form action="" method="post">
        {% csrf_token %}
    <div class="container">
      <div class="main-body">
      
            <div class="row gutters-sm">
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Current Password</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                       <input type="password" name="oldpass" id="pass" class="form-control" yle="height:40px;" placeholder="Enter Current Password" required>
                       
                        
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">New Password</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                       <input type="password" name="newpas" id="npas" class="form-control" yle="height:40px;" placeholder="Enter New Password" required>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Repeat new Password</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                       <input type="password" name="newpass" id="npass" class="form-control" yle="height:40px;" placeholder="Enter New Password Again" required>
                       <label for="check">
                           <input type="checkbox" name="" id="check" class="form-check-input" style="height: 15px;cursor: pointer;"> Show/Hide
                            </label>
                      </div>
                    </div>
                    <script>
                        check.onclick = togglePassword;

                        function togglePassword() {
                            if (check.checked) pass.type='text',npas.type='text',npass.type='text';
                            else pass.type = 'password',npas.type='password',npass.type='password';
                        }
                    </script>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="mb-0 text-danger">
                                {% if msgs %}
                                {% if msgs.value == 1 %}
                                {{ msgs.msg }}
                               
                        

                                <a href="forgetpass"  class=" pull-center">Forget Password</a>
                            
                                {% elif msgs.value == 2 %}
                                New Password Does Not Match
                                {% endif %}
                                {% endif %}
                                
                            </h4>
                        </div>
                      <div class="col-sm-4"  style="margin-top:1% ;margin-bottom: 1%;">
                        <input type="submit"  value="Change Password" class="btn btn-info pull-right">

                      </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
  
          </div>
      </div>
    </form>


</body>
</html>