{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="row">
        <div class="col-sm-2 " style="background-color:rgb(33,33,33); display: flex;flex-grow:1 ;">
        <img src="{% static 'images/KarKiraaya.png' %}" height='50px' class="pull-left" alt="logo">
      </div>
      <div class="navbar-expand-lg justify-content-end col-sm-10" style="background-color:rgb(33,33,33); display: flex;flex-grow:1 ;">
        <div class="nav me-5 justify-content-end " >
          
              <a href="/" class="btn" style="color: aliceblue;" >Home</a>
            </div>
        </div>
      </div>
      <table class="table">
        <tr>
          <th >Name</th>
          <th >Description</th>
          <th >Date</th>
      </tr>
      {% for i in data %}
    <tr>
        <td >{{i.name}}</td>
        <td >{{i.describe}}</td>
        <td >{{i.date}}</td>
    </tr>
    {% endfor %}
      </table>
</body>
</html>